<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="d-flex justify-content-center mt-2">
      <div class="col-6 mt-2">
        <div class="input-group mb-3">
          <label class="fs-4 me-2">Countries:</label>
          <input id="name" formControlName="name"
                 class="form-control" type="search" placeholder="Search by name" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <label class="fs-4 me-2">Continent:</label>
      <select id="continent" formControlName="continent" class="form-select">
        <option selected>All</option>
        <option *ngFor="let continent of continents">{{continent}}</option>
      </select>
    </div>
    <div class="col-6">
      <label class="fs-4 me-2">Region:</label>
      <select id="region" formControlName="region" class="form-select">
        <option selected>Chose...</option>
      </select>
    </div>
  </div>
  <div class="row mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Continent</th>
          <th>Region</th>
          <th>Area</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</form>
