<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="d-flex justify-content-center mt-2">
      <div class="col-6 mt-2">
        <div class="input-group mb-3">
          <label class="fs-4 me-2">Countries:</label>
          <input id="name" formControlName="name"
                 class="form-control" type="search" placeholder="Search by name" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <label class="fs-4 me-2">Continent:</label>
      <select id="continent" formControlName="continent" class="form-select" (change)="onChangeContinent($event)">
        <option selected>All</option>
        <option *ngFor="let continent of continents">{{continent}}</option>
      </select>
    </div>
    <div class="col-6">
      <label class="fs-4 me-2">Region:</label>
      <select id="region" formControlName="region" class="form-select" (change)="onChangeRegion($event)">
        <option selected>All</option>
        <option *ngFor="let region of regions">{{region}}</option>
      </select>
    </div>
  </div>
  <div class="row mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Continent</th>
          <th>Region</th>
          <th>Area</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries" class="align-middle">
          <td>{{country.code}}</td>
          <td>{{country.name}}</td>
          <td>{{country.continent}}</td>
          <td>{{country.region}}</td>
          <td>{{country.surfaceArea}} km<sup>2</sup></td>
          <td>
            <button type="button"
                    class="btn btn-info btn-sm"
                    (click)="onEdit()">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="countries.length > 0" class="row mt-4 justify-content-center">
    <ngb-pagination [collectionSize]="total"
                    [(page)]="pageNumber"
                    [pageSize]="pageSize"
                    (pageChange)="findCountries()">
    </ngb-pagination>
  </div>
</form>
